body{
  background-color:whitesmoke ;
}

.App{
  background-color:rgb(208, 231, 245);

  min-height: 350px;
  width: 400px;
  margin: 40px auto;
  border: 3px solid red;
   border-radius: 23px;
}

#todo-form input{
 
background-color: rgb(217, 187, 231);
border: 0;
color:floralwhite;
width:200px;
height: 30px;
margin-left: 4px;
border-radius: 12px;
}

#todo-form button{
  width: auto;
  height: 32px;
  border-radius: 13px;
  margin-left: 6px; 
  background-color: darkorange;
}
#todo-form{
  width:300px;
  text-align:center;
}
.mainheading{
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
  font-size: 34px;
  text-align: center;
  
}